/* Colors */
$color-black: #000;
$color-white: #FFF;
$color-beige: #F8ECD1;
$color-light-brown: #DEB6AB;
$color-brown: #AC7D88;
$color-purple: #85586F;
$color-red: #FF0000;

/* Responsive */
$media-desktop: '1024px';

/* Layout */
$container__max-width: 1416px;
